html {
    background-color: rgb(152, 161, 164);
}
/* .list-searchbar{
    background-color: grey;
} */
#navbar{
    
    overflow: visible;   
    background-color: #fff;
}
.site-logo img{
    height: 40px;
    display: flex;
    align-items:center;
    justify-content: center;

    
}

/* sub Div Two */
.searchbar{
    height: 40px;
    border: 2px solid black;
    background: peru;
    
    
    
}
/* Sub Div one */
.items{
    height: 40px;
    border: 2px solid black;
    padding: 0px;
    background: yellowgreen;
    margin-top: 10px;
    
    
    /* float: left; */
}
.input-search{
    height: 20px;
}
li {
    list-style-type: none;
    float: left;
    
}
a:hover{
    background-color: black;
    color: red;
}
a{
    text-decoration: none;
    color: white;
    display: block;
    /* padding: 7px; */
    font-size: large;
    
}
h1{
    color:rgb(172, 35, 35);
    text-align: center;
    text-transform: lowercase;
    
} 
